body {
  background-color: #1e1e1e;
  margin: 0; /* Reset default margin */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.mainLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.authButtons {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
}

.logo,
.logo-text {
  padding: 12px;
  position: relative;
}

.logo-text {
  margin-left: -10px;
}

.signinLink,
.signupLink {
  text-decoration: none;
}

.signinBtn,
.signupBtn {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signinBtn:hover,
.signupBtn:hover {
  background-color: #0056b3;
}

.logo-navbar {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: row;
}

.logo-navbar h2 {
  margin: 0;
  padding: 10px;
  margin-left: 30px;
  color: white;
}

.main-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);

}

/* Burger Menu Styles */
.burger-menu {
  position: absolute;
  top: 5%;
  right: 5%;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: transform 0.3s ease-in-out;
}

.burger-content {
  position: absolute;
  top: calc(100% + 10px); /* Adjust distance from the burger icon */
  right: 0;
  background-color: #ffffff;
  padding: 10px;
  display: none;
  flex-direction: column;
  z-index: 1;
}

.burger-content a {
  margin-bottom: 10px;
}

.burger-content.show {
  display: flex;
}

.burger-icon.open .burger-line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burger-icon.open .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-icon.open .burger-line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .logo-navbar {
    justify-content: space-between;
    align-items: center;
  }

  .logo-navbar h2 {
    display: block;
    margin-top: 80px;
    margin-left: 7px;
    margin-right: 18px;
    align-self: center;
    align-items: center;
  }

  .burger-menu {
    display: block;
  }

  .burger-content.show {
    display: flex;
  }

  .burger-icon.open .burger-line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .burger-icon.open .burger-line:nth-child(2) {
    opacity: 0;
  }

  .burger-icon.open .burger-line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}
