.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;

}

.logo,
.logo-text {
  padding: 12px;
  position: relative;
}

.logo-text {
  margin-left: -10px;
}
